@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Colum1</h2>
        
    </div>
    <div class="col-md-6">
        <h2>Column2</h2>
    </div>
   
</div>
