<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="Platform" value="Test"/>
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="MAESTRODEV" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=adt01maestro)(PORT=3043))(CONNECT_DATA=(SERVICE_NAME=MAESTRODEV)))"/>
        <dataSource alias="CNN" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ldp01CNN)(PORT=3043))(CONNECT_DATA=(SERVICE_NAME=CNN)));"/>        
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="FW" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=fw;PASSWORD=mdsb%76qw;Data Source=MAESTRODEV"/>
    <add name="AX" providerName="Oracle.ManagedDataAccess.Client" connectionString="USER ID=ax;PASSWORD=Kfys82_sdFF;Data Source=CNN"/>
  </connectionStrings>
  <log4net debug="true">
    <appender name="RollingFile" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{appRoot}\logs\app.log" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="OracleErrorAppender" type="log4net.Appender.AdoNetAppender">
      <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <connectionStringName value="AX"/>
      <commandText value="INSERT INTO LOG_HATA (HATA_ID,TARIH,OTURUM_BILET,KULLANICINO,MESAJ,HATA,KAYNAK) VALUES (:hataId, :tarih, :oturumBilet, :kullaniciNo, :mesaj, :hata, :kaynak)"/>
      <bufferSize value="1" />
      <threshold value="ALL" />
      <parameter>
        <parameterName value=":hataId"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ErrorCode}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":tarih" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value=":oturumBilet"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{SessionKey}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":kullaniciNo"/>
        <dbType value="Int32"/>
        <size value="32"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":mesaj"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":hata"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value=":kaynak"/>
        <dbType value="String"/>
        <size value="500"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Source}"/>
        </layout>
      </parameter>
    </appender>
    <logger name="LogError">
      <level value="ALL" />
      <appender-ref ref="OracleErrorAppender" />
    </logger>
  </log4net>
</configuration>